.expense-list {
  margin-top: 2rem;
  width: 80%;
  text-align: center;
}

.expense-list h2 {
  text-align: center;
  font-size: var(--font-size-h4);
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .expense-list {
    width: 60%;
  }
}

.table__container {
  width: 85%;
  background-color: var(--color-tertiary);
  box-shadow: 0.2rem 0.2rem 0.75rem 0.1rem rgba(0, 0, 0, 0.5);
  overflow-x: auto;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
  min-width: max-content;
  position: relative;
}

.table__td,
.table__th {
  text-align: left;
}

.table__th {
  background-color: var(--color-primary);
  padding: 1.5rem;
}

.table__td {
  padding: 1.5rem;
}

.table__tr:nth-child(even) {
  background-color: var(--color-white);
}

.table__tr:last-child table__td:last-child {
  border-bottom-right-radius: 0.2rem;
}

.table__button {
  background-color: var(--color-primary);
  border: 1.5px solid transparent;
  padding: 0.5rem;
  border-radius: 0.2rem;
  box-shadow: 0.2rem 0.2rem 0.3rem 0 rgba(0, 0, 0, 0.5);
}

.table__button:hover {
  border: 1.5px solid var(--color-white);
  color: white;
  padding: 0.5rem;
  border-radius: 0.2rem;
  box-shadow: 0.2rem 0.2rem 0.3rem 0 rgba(0, 0, 0, 0.5);
}
