.expense-list {
  margin-top: 2rem;
  width: 70%;
}

.expense-list h2 {
  text-align: center;
  font-size: var(--font-size-h4);
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .expense-list {
    width: 60%;
  }

  .expense-list h2 {
    text-align: left;
  }
}

.expense-list__list {
  list-style: none;
}

.expense-list__list--li {
  margin-bottom: 2rem;
  background: var(--color-white);
  padding: 1rem;
  border-radius: 0.2rem;
  box-shadow: 0.2rem 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.5);
}

.expense-list__list--li p {
  margin-bottom: 0.5rem;
}

.expense-list__list--li ul {
  list-style: none;
}

.expense-list__item-heading {
  font-size: var(--font-size-h5);
  font-weight: 700;
  color: var(--color-primary);
  margin-bottom: 0.7rem;
}

.expense-list__list--li__heading {
  font-weight: 700;
}
