.expense-list {
  margin-top: 2rem;
  width: 95%;
}

.expense-list__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  width: 95%;
  margin: 0 auto;
}

.expense-list h2 {
  text-align: center;
  font-size: var(--font-size-h4);
}

@media screen and (min-width: 768px) {
  .expense-list {
    width: 60%;
    min-width: 80rem;
    max-width: 100rem;
  }
}

.select-container {
  width: 23rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-self: flex-start;
}

.select-container label {
  font-weight: 700;
}

.search-container {
  width: 23rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-self: flex-start;
}

.search-container label {
  font-weight: 700;
}

.search-container input {
  font: inherit;
  padding: 0.8rem;
  border-radius: 0.4rem;
  border: 1px solid #ccc;
  width: 100%;
}

.search-container input:hover {
  box-shadow: 0 0 0 1px var(--color-primary);
}

.search-container input:focus {
  outline: 1px solid var(--color-primary);
}

.filter-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .filter-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 0;
  }
}

.no-expenses {
  margin-top: -1rem;
}
