.button {
  background-color: var(--color-secondary);
  height: 4rem;
  width: 7em;
  padding: 0.5rem 2rem;
  border: none;
  box-shadow: 0.2rem 0.2rem 0.5rem 0px rgba(0, 0, 0, 0.25);
  border-radius: 0.2rem;
  color: inherit;
  min-width: max-content;
}

.button:hover {
  transition: all 0.3s;
  background-color: #ccc;
  box-shadow: 0.2rem 0.2rem 0.1rem 0px rgba(0, 0, 0, 0.3);
}

.button:active {
  box-shadow: 0.2rem 0.2rem 0.1rem 0px rgba(0, 0, 0, 0.3);
  background-color: #ccc;
}

.button--active {
  box-shadow: 0.2rem 0.2rem 0.1rem 0px rgba(0, 0, 0, 0.3);
  background-color: #ccc;
}

.button--greyed {
  background-color: #ccc;
}

.button--error {
  background-color: #ffcccb;
}

.button--inactive:hover {
  border: inherit;
  color: inherit;
}

.button--greyed:hover {
  border: inherit;
  color: inherit;
}

@media screen and (min-width: 768px) {
  .button {
    font-size: var(--font-size-h5);
    font-weight: 400;
    height: 6rem;
    width: 14rem;
  }
}

@media screen and (min-width: 1200px) {
  .button {
    font-weight: 700;
  }
}
